@import "tailwindcss";

@layer {

	.subtitle-responsive {
		@apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
	}

	.title-responsive {
    	@apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
	}

	.shadow-subtitle {
		box-shadow: -5px 5px 5px #24242477;
	}
}

@theme inline {
	--font-sans: var(--font-notoSans);
	--color-border-1: #5F606A;
	--color-accent-1: #820085;
	--color-accent-2: #6C006F;
	--color-text-1: #FFC9FF;
	--color-text-2: #F7F;
	--color-primary: #3D0E3E;
	--color-secondary: #7E0081;
	--color-shadow: #24242477;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
}

:root {
	--background: linear-gradient(to top left, #6E56CF 0%, #6E56CF 1%, #1B1525 90%, #1B1525 100%);
	--foreground: #E2DDFE;
	--border: #5F606A;
	--accent1: #820085;
	--accent2: #6C006F;
	--text1: #FFC9FF;
	--text2: #F7F;
	--primary: #3D0E3E;
	--secondary: #7E0081;
	--shadow: #242424;
}

body {
	background: linear-gradient(to top left, #6E56CF 0%, #6E56CF 1%, #1B1525 90%, #1B1525 100%);;
	height: 300vh;
	max-height: 300vh;
	color: #ededed;
	scrollbar-width: none !important;           
	-ms-overflow-style: none !important;
}

body::-webkit-scrollbar {
  display: none !important;
}

/*-------------------------------------------------------------------------------------------------------------------------------------- UX ------*/

.neon-icons {
  	transition: all .5s;
}

.neon-icons:hover {
	color: #3C2E69;
	filter: drop-shadow(0 0 2.5px #ffffff) 
			drop-shadow(0 0 5px #ffffff);
	cursor: pointer;
}

.reflect-icons {
	transform-style: preserve-3d;
	transform: rotateX(180deg) perspective(200px) translateY(-0.5rem);
	opacity: 0.2;
	filter: blur(2px);
	mask-image: linear-gradient(to top, var(--text1) 10%, rgba(0, 0, 0, 0.4) 30% , rgba(0, 0, 0, 0.1) 70%);
}

/*-------------------------------------------------------------------------------------------------------------------------------------- Logo ------*/

.logo-filter {
	filter: drop-shadow(0 0 1.25px #5F606A) 
			drop-shadow(0 0 2.5px #5F606A) 
			drop-shadow(0 0 5px #5F606A);
}

/*-------------------------------------------------------------------------------------------------------------------------------------- NavBar ------*/

.link-nav {
	transition: all .5s;
}

.link-nav:hover {
  color: #3C2E69;
  filter: drop-shadow(0 0 1.25px #FFC9FF) 
		  drop-shadow(0 0 2.5px #FFC9FF) 
		  drop-shadow(0 0 5px #FFC9FF);
  cursor: pointer;
}

.span-nav {
	will-change: transform;
	filter: drop-shadow(0 0 1.25px #820085) 
		  	drop-shadow(0 0 2.5px #820085) 
		  	drop-shadow(0 0 5px #820085);
}

.nav-filter {
	filter: drop-shadow(0 0 1.25px #5F606A); 
}

/*-------------------------------------------------------------------------------------------------------------------------------------- Transition ------*/

.portal-animated {
	backdrop-filter: blur(0px);
	background-color: rgba(20,18,31,0);
	transition: backdrop-filter 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.portal-animated.active {
  	animation: pageBlur 1s ease-in-out;
}

.portal-transition {
	width: 100vw; 
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	z-index: 3;
}

.portal-transition::before {
	content: "";
	position: absolute;
	width: 100vw; 
	height: 100vh; 
	background-image: linear-gradient(to top left, transparent 50%, #14121F 50%);
	z-index: 3;
	transform: translateX(-100vw);
	top: 0;
	left: 0;
	animation: pageTransitionLeft 1s ease-in-out;
}

.portal-transition::after {
	content: "";
	position: absolute;
	width: 100vw; 
	height: 100vh; 
	background-image: linear-gradient(to top left, #14121F 50%, transparent 50%);
	z-index: 3;
	transform: translateX(100vw);
	top: 0;
	left: 0;
	animation: pageTransitionRight 1s ease-in-out;
}

@keyframes pageTransitionLeft {
	from {
		transform: translateX(-100vw);
	}
	45% {
		transform: translateX(0);
	}
	55% {
		transform: translateX(0);
	}
	100%
	{
		transform: translateX(-100vw);
	}
}

@keyframes pageTransitionRight {
	from {
		transform: translateX(100vw);
	}
	50% {
		transform: translateX(0);
	}
	100%
	{
		transform: translateX(100vw);
	}
}

@keyframes pageBlur{
	from {
		backdrop-filter: blur(0);
	}
	50% {
		backdrop-filter: blur(1px);
	}
	100%
	{
		backdrop-filter: blur(0);
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------- ########## ------*/
