@import "tailwindcss";



@media (min-width: 1920px) {
	.title3xl > h1 {
		font-size: 8rem;
	}

}

@media (min-width: 2400px) {
	.title3xl > h1 {
		font-size: 11rem;
	}
	.title3xl > h2 {
		font-size: 7rem;
		margin-bottom: 5rem;
	}

	.skill3xl {
		font-size: 2.5rem;
	}


}

@layer {

	.subtitle-responsive {
		@apply text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
	}

	.title-responsive {
    	@apply text-4xl sm:text-4xl md:text-5xl lg:text-5xl xl:text-6xl 2xl:text-9xl;
	}

	.shadow-subtitle {
		box-shadow: -5px 5px 5px #24242477;
	}
}


@theme {
	--font-sans: var(--font-notoSans);
	--color-border-1: #5F606A;
	--color-accent-1: #820085;
	--color-accent-2: #6C006F;
	--color-text-1: #FFC9FF;
	--color-text-2: #F7F;
	--color-primary: #3D0E3E;
	--color-secondary: #7E0081;
	--color-shadow: #24242477;
	--breakpoint-2xl: 1920px;
	--breakpoint-3xl: 2400px;

	--animate-aurora: aurora 180s linear infinite;
	@keyframes aurora {
		from {
		background-position:
			50% 50%,
			50% 50%;
		}
		to {
		background-position:
			350% 50%,
			350% 50%;
		}
	}
}

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
}

:root {
	--background: linear-gradient(to top left, #6E56CF 0%, #6E56CF 1%, #1B1525 90%, #1B1525 100%);
	--foreground: #E2DDFE;
	--border: #5F606A;
	--accent1: #820085;
	--accent2: #6C006F;
	--text1: #FFC9FF;
	--text2: #F7F;
	--primary: #3D0E3E;
	--secondary: #7E0081;
	--shadow: #242424;
}

body {
	background: transparent;
	height: 300vh;
	max-height: 300vh;
	color: #ededed;
	scrollbar-width: none !important;           
	-ms-overflow-style: none !important;
}

body::-webkit-scrollbar {
  display: none !important;
}

/*-------------------------------------------------------------------------------------------------------------------------------------- UX ------*/

.neon-icons {
  	transition: all .5s;
	z-index: 4;
}

.neon-icons:hover {
	color: #3C2E69;
	filter: drop-shadow(0 0 2.5px #ffffff) 
			drop-shadow(0 0 5px #ffffff);
	cursor: pointer;
}

.reflect-icons {
	opacity: 0.2;
	filter: blur(2px);
	transform-style: preserve-3d;
	transform: rotateX(180deg) perspective(200px) translateY(-0.5rem);
	color: var(--text1);
	mask-image: linear-gradient(to top, var(--text1) 10%, rgba(0, 0, 0, 0.4) 30% , rgba(0, 0, 0, 0.1) 70%);
}

.reflect-button {
	transform: rotateX(180deg) perspective(50px) translateY(-0.5rem);
	filter: blur(2px);
	mask-image: linear-gradient(to top, #ffc9ff8a 0.1%, rgba(0, 0, 0, 0.3) 20% , rgba(0, 0, 0, 0.02) 70%);
}

.test-border::after {
	content: "";
	position: absolute;
	inset: 0;
	border: 2px solid var(--text1);
	z-index: -1;
	width: 100%;
	height: 100%;
	filter: drop-shadow(0 0 0.5px #ffc9ff86)
			drop-shadow(0 0 2px #ffc9ff71)
			drop-shadow(0 0 5px #ffc9ff3a);
	border-radius: inherit;
	pointer-events: none;
}

.title {
	position: relative;
}

.title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: var(--text1);
	z-index: 10;
	filter: drop-shadow(0 0 2.5px #FFC9FF) 
			drop-shadow(0 0 5px #ffc9ffad) 
			drop-shadow(0 0 10px #ffc9ff8a);
	animation: startOutline .6s ease-in-out .5s forwards;
}

.anime-opacity {
	animation: opacity .8s ease-in-out .5s forwards;
}

.started:hover {
	animation: jumpString .5s ease-in-out;
}

.started:hover > svg {
	animation: jumpString .5s ease-in-out;
}

@keyframes startOutline {
	from {
		width: 0;
	}	
	to {
		width: 101%;
	}	
}

@keyframes opacity {
	from {
		opacity: 0;
	}	
	to {
		opacity: 1;;
	}	
}

@keyframes jumpString {
	from {
		transform: translateY(0);
	}	
	50% {
		transform: translateY(-10%);
	}
	to {
		transform: translateY(0);
	}	
}

/*-------------------------------------------------------------------------------------------------------------------------------------- Logo ------*/

.logo-filter {
	filter: drop-shadow(0 0 1.25px #5F606A) 
			drop-shadow(0 0 2.5px #5F606A) 
			drop-shadow(0 0 5px #5F606A);
}

.bg-logo {
  background-image: url('/logo.jpeg');
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.bg-logo1 {
  background-image: url('/logo-oignon.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.bg-logo2 {
  background-image: url('/logo-photo-share.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top;
}
/*-------------------------------------------------------------------------------------------------------------------------------------- NavBar ------*/

.link-nav {
	transition: all .5s;
}

.link-nav:hover {
  color: #3C2E69;
  filter: drop-shadow(0 0 1.25px #FFC9FF) 
		  drop-shadow(0 0 2.5px #FFC9FF) 
		  drop-shadow(0 0 5px #FFC9FF);
  cursor: pointer;
}

.span-nav {
	will-change: transform;
	filter: drop-shadow(0 0 1.25px #820085) 
		  	drop-shadow(0 0 2.5px #820085) 
		  	drop-shadow(0 0 5px #820085);
}

.nav-filter {
	filter: drop-shadow(0 0 1.25px #5F606A); 
}

/*-------------------------------------------------------------------------------------------------------------------------------------- Transition ------*/

.portal-animated {
	backdrop-filter: blur(0px);
	background-color: rgba(20,18,31,0);
	transition: backdrop-filter 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.portal-animated.active {
  	animation: pageBlur 1s ease-in-out;
}

.portal-transition {
	width: 100vw; 
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	z-index: 3;
}

.portal-transition::before {
	content: "";
	position: absolute;
	width: 100vw; 
	height: 100vh; 
	background-image: linear-gradient(to top left, transparent 50%, #14121F 50%);
	z-index: 3;
	transform: translateX(-100vw);
	top: 0;
	left: 0;
	animation: pageTransitionLeft 1s ease-in-out;
}

.portal-transition::after {
	content: "";
	position: absolute;
	width: 100vw; 
	height: 100vh; 
	background-image: linear-gradient(to top left, #14121F 50%, transparent 50%);
	z-index: 3;
	transform: translateX(100vw);
	top: 0;
	left: 0;
	animation: pageTransitionRight 1s ease-in-out;
}

@keyframes pageTransitionLeft {
	from {
		transform: translateX(-100vw);
	}
	45% {
		transform: translateX(0);
	}
	55% {
		transform: translateX(0);
	}
	100%
	{
		transform: translateX(-100vw);
	}
}

@keyframes pageTransitionRight {
	from {
		transform: translateX(100vw);
	}
	50% {
		transform: translateX(0);
	}
	100%
	{
		transform: translateX(100vw);
	}
}

@keyframes pageBlur{
	from {
		backdrop-filter: blur(0);
	}
	50% {
		backdrop-filter: blur(1px);
	}
	100%
	{
		backdrop-filter: blur(0);
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------- ########## ------*/

